<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kundalik| Kundalik ga kirish</title>
    <link rel="shortcut icon" href="https://static.kundalik.com/img/icons/favicon_Uz.ico" sizes="16x16 24x24 32x32 48x48 64x64" type="image/x-icon"/>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="line">
        <ul class="line-list">
            <li class="line-item line-item-blue"></li>
            <li class="line-item line-item-green"></li>
            <li class="line-item line-item-yellow"></li>
            <li class="line-item line-item-red"></li>
            <li class="line-item line-item-pink"></li>
        </ul>
    </div>
    <div class="row div1">
        <a style="margin-right: 30px;margin-top: -5px" href="https://kundalik.com/"><img src="https://static.kundalik.com/img/logotypes/uzlogotype.png" alt=""></a>
        <a class="a1" href="#"><h4>Tashkilot</h4></a>
        <hr style="height: 20px;margin-top: 19px;margin-right: 5px;margin-left: 18px">
        <a class="a1" href="#"><h4>Imkoniyatlar</h4></a>
        <hr style="height: 20px;margin-top: 19px;margin-right: 5px;margin-left: 18px">
        <a class="a1" href="#"><h4>Hamkorlarga</h4></a>
        <hr style="height: 20px;margin-top: 19px;margin-right: 5px;margin-left: 18px">
        <a class="a1" style="margin-right: 87px;" href="#"><h4>Yordam</h4></a>
        <button class="btn button" style="color: black;text-align: center;width: 80px;height: 40px;margin-top: 10px;margin-left: 10px;border-radius: 5px" ><h4 class="display-4" style="margin-top: 10px">Kirish</h4></button>
        <button class="btn button1 button_blue" style="color: black;text-align: center;width: 180px;height: 40px;margin-top: 10px;margin-left: 10px;border-radius: 5px" ><h4 class="display-4" style="margin-top: 10px">Tashkilotni ulash</h4></button>
    </div>
    <br>
    <div style="background-color: #f4f4f4;padding: 30px">
        <div class="row div2 text-white">
            <h1  class="h11 " style="margin-top: 8px;margin-left: 10px"><b>Kirish Kundalik</b></h1>
            <a style="color: white; font-size: 15px; width: 400px;  margin-left: 420px" href="#"><h4 style="font-weight: normal;">Tizimda ro'yxatdan o'tmaganmisiz?</h4></a>
        </div>
        <div class="div3">
           <form action="/login" method="POST">
            <label ><h3 style="margin-left: 10px">Login</h3></label>
            <input name="name" style="margin-left: 10px" class="input" type="text" autocomplete="on">
            <label><h3 style="margin-left: 10px">Parol</h3></label>
            <input name="password" style="margin-left: 10px" class="input" type="password"><br><br><br>
            <button type="submit" class="btn btncha" style="margin-left: 10px;padding: 5px;text-align: center;color: white;height: 49px;font-size: 20px;width: 200px;border-radius: 5px"><a style="font-size: 20px; color: #fff; text-decoration: none;" >Tizimga kiring</a></button>
            <br><br>
           </form>
        </div>
        <div class="div4">
            <img width="40px" height="40px" style="margin-top: 5px" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-help-outline-256.png" alt="">
            <p style="margin-left: 10px">Login yoki parolni unutdingizmi? <a class="acha" href="#">Loginni tiklash.</a></p>
        </div>
        <br><br>
    </div>
    <div style="color: white;background-color: #231f20">
            <div style=" width: 900px;padding: 15px;margin: 0 auto;display: flex;flex-direction: row">
                <div style="width: 250px">
                    <h3>Tashkilot haqida</h3>
                    <a href="#" class="aa"><h4>Biz haqimizda</h4></a><br>
                    <a  href="#" class="aa"><h4 style="margin-top: -18px">Yangiliklar</h4></a>
                    <a href="#" class="aa"><h4>Aloqa uchun ma'lumotlar</h4></a>
                    <div style="width: 250px;display: flex;flex-direction: row">
                        <img class="img1" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_gray-256.png" alt="">
                        <img style="margin-left: 10px" class="img1" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/instagram_circle_gray-256.png" alt="">
                        <img style="margin-left: 10px" class="img1" src="https://cdn0.iconfinder.com/data/icons/cool-social-networks-logos-1/512/Telegram-256.png" alt="">
                        <img style="margin-left: 10px" class="img1" src="https://cdn2.iconfinder.com/data/icons/social-media-free-20/32/youtube_you_tube_online_social_media-128.png" alt="">
                    </div>
                </div>
                <div style="width: 250px">
                    <h3>Tashkilot haqida</h3>
                    <a href="#" class="aa"><h4>O'qituvchilarga</h4></a><br>
                    <a  href="#" class="aa"><h4 style="margin-top: -18px">Ota-onalarga</h4></a>
                    <a href="#" class="aa"><h4>O'quvchilarga</h4></a>
                    <a href="#" class="aa"><h4>Davlat organlariga</h4></a>
                </div>
                <div style="width: 200px;margin-left: 200px">
                    <h3>Qo'llab-quvvatlash</h3>
                    <a href="#" class="aaa"><h4>Qo'llab quvvatlash xizmati portal</h4></a>
                    <button class="btncha1"><h4 style="margin-top: 7px">Tashkilotni ulash</h4></button>
                </div>
            </div>
    </div>
    <div style="background-color: black">
        <div style="width: 900px;margin: 0 auto;display: flex;flex-direction: row;padding: 1px">
            <a class="aaaa" href="#"><h4>Foydalanuvchining shartnomasi</h4></a>
            <h4 style="color: gray;margin-left: 500px">© 2021 ООО «Kundalik»</h4>
        </div>
    </div>
</body>
</html>